.sidebar {
  min-width: 260px;
  background: #ffffff;
  border-right: 1px solid #e5e7eb;

  /* IMPORTANT */
  min-height: 100vh;   /* instead of height */
  
  padding: 16px;
  display: flex;
  flex-direction: column;

  position: sticky;
  top: 0;
}

/* Brand */
.brand {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 24px;
}

.logo {
  width: 60px;
  height: 40px;
  color: #fff;
  font-weight: 700;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand h4 {
  font-size: 14px;
  margin: 0;
}

.brand span {
  font-size: 12px;
  color: #6b7280;
}

/* Menu */
.menu a {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 12px;
  border-radius: 10px;
  color: #374151;
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 6px;
 font-size: 14px;
}

.menu a svg {
  font-size: 18px;
}

.menu a.active {
  background: #9f8d70;
  color: #2d2416;
  font-weight: 600;
}
/* Hamburger */
.hamburger {
  display: none;
  position: fixed;
  top: 20px;
  left: 16px;
  width: 26px;
  height: 18px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 1100;

  flex-direction: column;
  justify-content: space-between;
}

.hamburger span {
  height: 2px;
  width: 100%;
  background: #374151;
  border-radius: 2px;
  transition: all 0.3s ease;
}
.hamburger.active {
  left: 232px; 
}
.hamburger.active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* Overlay */
.sidebarOverlay {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sidebarOverlay.active {
  display: block;
  opacity: 1;
}

/* Mobile only */
@media (max-width: 767px) {
  .hamburger {
    display: flex;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1050;
  }

  .sidebar.open {
    transform: translateX(0);
  }
}
